<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>level</key>
		<integer>1</integer>
		<key>question</key>
		<string>小宇宙这个词出于日本哪部经典漫画？</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>圣斗士星矢</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>蜡笔小新</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>火影忍着</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>名侦探柯南</string>
				<key>right</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>level</key>
		<integer>1</integer>
		<key>question</key>
		<string>名侦探柯南的经典台词是？</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>代表月亮消灭你</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>真相只有一个</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>小兰我爱你</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>我是世界之王</string>
				<key>right</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>level</key>
		<integer>1</integer>
		<key>question</key>
		<string>任天堂是哪个国家的游戏公司？</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>美国</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>日本</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>中国</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>韩国</string>
				<key>right</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>level</key>
		<integer>1</integer>
		<key>question</key>
		<string>著名电影角色007是哪个国家的的情报机构特工？</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>美国</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>法国</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>德国</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>英国</string>
				<key>right</key>
				<true/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>level</key>
		<integer>1</integer>
		<key>question</key>
		<string>阿里巴巴的创始人是谁？</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>王石</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>史玉柱</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>马云</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>玛雅</string>
				<key>right</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>level</key>
		<integer>2</integer>
		<key>question</key>
		<string>下面哪个汽车的牌子最贵？</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>雪铁龙</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>奔驰</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>宾利</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>奥迪</string>
				<key>right</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>level</key>
		<integer>2</integer>
		<key>question</key>
		<string>当初是你要分开分开就分开，是哪首流行歌曲？</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>两只蝴蝶</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>江南Style</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>可惜不是你</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>爱情买卖</string>
				<key>right</key>
				<true/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>level</key>
		<integer>2</integer>
		<key>question</key>
		<string>香港演员谢霆锋的大儿子叫什么名字？</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>Lucas</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>Quintus</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>Jack</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>Brooklyn</string>
				<key>right</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>level</key>
		<integer>2</integer>
		<key>question</key>
		<string>流行甜品提拉米苏源自哪个欧洲国家？</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>意大利</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>西班牙</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>英国</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>法国</string>
				<key>right</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>level</key>
		<integer>2</integer>
		<key>question</key>
		<string>《东北人都是活雷锋》最后一句台词是？</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>看，飞蝶</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>翠花，上酸菜</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>小二，上酒</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>来，给你钱</string>
				<key>right</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>level</key>
		<integer>3</integer>
		<key>question</key>
		<string>我们常把古时候皇帝所坐的椅子叫什么椅子？</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>龙椅</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>太师椅</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>按摩椅</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>沙发</string>
				<key>right</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>level</key>
		<integer>3</integer>
		<key>question</key>
		<string>创办精武门的清末爱国武术家是？</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>甄子丹</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>霍元甲</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>李小龙</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>洪金宝</string>
				<key>right</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>level</key>
		<integer>3</integer>
		<key>question</key>
		<string>聊天中男朋友通常用哪两个字母来表示？</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>BT</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>BF</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>ET</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>MF</string>
				<key>right</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>level</key>
		<integer>3</integer>
		<key>question</key>
		<string>DOTA出自于什么游戏？</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>星际争霸</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>魔兽世界</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>暗黑破坏神</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>魂斗罗</string>
				<key>right</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>level</key>
		<integer>3</integer>
		<key>question</key>
		<string>乔丹一共获得多少只NBA总冠军戒指？</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>三次</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>四次</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>五次</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>六次</string>
				<key>right</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>level</key>
		<integer>4</integer>
		<key>question</key>
		<string>斯诺克台球中母球是什么颜色？</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>白色</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>黑色</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>红色</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>蓝色</string>
				<key>right</key>
				<false/>
			</dict>
		</array>
	</dict>
</array>
</plist>
