<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>question</key>
		<string>小宇宙这个词出于日本经典漫画&lt;&lt;圣斗士星矢&gt;&gt;？我估计你回答不出来了</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>对</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>错</string>
				<key>right</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>question</key>
		<string>名侦探柯南的经典台词是“小兰我爱你”？</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>对</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>错</string>
				<key>right</key>
				<true/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>question</key>
		<string>任天堂是日本的游戏公司？</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>对</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>错</string>
				<key>right</key>
				<true/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>question</key>
		<string>著名电影角色007是英国的的情报机构特工？</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>对</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>错</string>
				<key>right</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>question</key>
		<string>阿里巴巴的创始人是史玉柱？</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>对</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>错</string>
				<key>right</key>
				<true/>
			</dict>
		</array>
	</dict>
</array>
</plist>
