<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<integer>3</integer>
		<key>question</key>
		<string>Gameloft出品了哪些游戏?</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>混沌与秩序</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>火影忍着</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>现代战争</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>功夫熊猫</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>萌答英雄</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>魔兽世界</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>钓鱼之王</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>地下城与勇士</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>细胞分裂</string>
				<key>right</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>3</integer>
		<key>question</key>
		<string>Gameloft出品了哪些游戏?</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>混沌与秩序</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>火影忍着</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>现代战争</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>功夫熊猫</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>萌答英雄</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>魔兽世界</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>钓鱼之王</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>地下城与勇士</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>细胞分裂</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>细胞分裂</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>细胞分裂</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>细胞分裂</string>
				<key>right</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>3</integer>
		<key>question</key>
		<string>Gameloft出品了哪些游戏?</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>混沌与秩序</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>火影忍着</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>现代战争</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>功夫熊猫</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>萌答英雄</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>魔兽世界</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>钓鱼之王</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>地下城与勇士</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>细胞分裂</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>细胞分裂</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>细胞分裂</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>细胞分裂</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>细胞分裂</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>细胞分裂</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>细胞分裂</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>细胞分裂</string>
				<key>right</key>
				<true/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>3</integer>
		<key>question</key>
		<string>Gameloft出品了哪些游戏?</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>混沌与秩序</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>火影忍着</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>现代战争</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>功夫熊猫</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>萌答英雄</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>魔兽世界</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>钓鱼之王</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>地下城与勇士</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>细胞分裂</string>
				<key>right</key>
				<true/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>3</integer>
		<key>question</key>
		<string>Gameloft出品了哪些游戏?</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>混沌与秩序</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>火影忍着</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>现代战争</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>功夫熊猫</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>萌答英雄</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>魔兽世界</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>钓鱼之王</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>地下城与勇士</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>细胞分裂</string>
				<key>right</key>
				<true/>
			</dict>
		</array>
	</dict>
</array>
</plist>
