<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>question</key>
		<string>卧槽其实是象棋术语</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>对</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>错</string>
				<key>right</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>question</key>
		<string>《孔雀东南飞》描述的是七仙女与董永的爱情故事？</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>对</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>错</string>
				<key>right</key>
				<true/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>question</key>
		<string>“乳摇”一词来源于动作游戏《使命召唤》？</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>对</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>错</string>
				<key>right</key>
				<true/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>question</key>
		<string>关公过五关斩六将是为了给嫂子买麻辣烫。</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>对</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>错</string>
				<key>right</key>
				<true/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>question</key>
		<string>韦小宝有8个老婆</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>对</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>错</string>
				<key>right</key>
				<true/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>question</key>
		<string>全国人民都爱习大大和彭麻麻</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>对</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>错</string>
				<key>right</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>question</key>
		<string>红楼梦的四大姓氏是贾史王薛</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>对</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>错</string>
				<key>right</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>question</key>
		<string>希腊神话战神是&quot;阿瑞斯&quot;。</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>对</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>错</string>
				<key>right</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>question</key>
		<string>世界文学巨匠安东.巴夫洛维奇.洯科夫是俄国人？</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>对</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>错</string>
				<key>right</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>question</key>
		<string>现存陆地最大肉食动物北极熊。</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>对</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>错</string>
				<key>right</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>question</key>
		<string>诸葛亮出山时候的年纪是27岁。</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>对</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>错</string>
				<key>right</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>question</key>
		<string>唐朝被列为贡品的南方水果是“香蕉”</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>对</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>错</string>
				<key>right</key>
				<true/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>question</key>
		<string>三国讨董联盟的盟主是“袁术”</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>对</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>错</string>
				<key>right</key>
				<true/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>question</key>
		<string>三国时期吴国拥有23万兵力。</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>对</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>错</string>
				<key>right</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>question</key>
		<string>电影《泰坦尼克》号中的蓝宝石是“海洋之心”。</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>对</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>错</string>
				<key>right</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>question</key>
		<string>小虎队成员吴奇隆被称为“小帅虎”</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>对</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>错</string>
				<key>right</key>
				<true/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>question</key>
		<string>香港行政区的区花是紫荆花。</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>对</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>错</string>
				<key>right</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>question</key>
		<string>传说为关羽“刮骨疗伤”的是扁鹊。</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>对</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>错</string>
				<key>right</key>
				<true/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>question</key>
		<string>《马赛曲》是法国的国歌。</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>对</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>错</string>
				<key>right</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>question</key>
		<string>童话《皮皮鲁和鲁西西》的作者是郭敬明。</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>对</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>错</string>
				<key>right</key>
				<true/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>question</key>
		<string>古代“鼎”的使用可以追述到什么战国时期？</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>对</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>错</string>
				<key>right</key>
				<true/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>question</key>
		<string>诗人李白是唐朝的。</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>对</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>错</string>
				<key>right</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>question</key>
		<string>鲁迅笔下孔乙己最爱去的是昆仑酒家？</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>对</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>错</string>
				<key>right</key>
				<true/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>question</key>
		<string>葫芦娃二娃的能力是力大无穷</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>对</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>错</string>
				<key>right</key>
				<true/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>question</key>
		<string>灰太狼的老婆是红太郎。</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>对</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>错</string>
				<key>right</key>
				<false/>
			</dict>
		</array>
	</dict>
</array>
</plist>
