<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>question</key>
		<string>单词“My”的意思是？</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>他们的</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>我的</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>你们的</string>
				<key>right</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>question</key>
		<string>如果要询问价格，你会说？</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>How many?</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>How much?</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>How is it?</string>
				<key>right</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>question</key>
		<string>下列哪一个是首席执行长官的缩写？</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>CFO</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>CEO</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>COO</string>
				<key>right</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>question</key>
		<string>英文一共有多少个字母？</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>24个</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>26个</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>27个</string>
				<key>right</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>question</key>
		<string>三国中买草席的是谁？</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>庞统</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>周瑜</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>刘备</string>
				<key>right</key>
				<true/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>question</key>
		<string>《三国演义》的作者是？</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>施耐庵</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>吴承恩</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>罗贯中</string>
				<key>right</key>
				<true/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>question</key>
		<string>三国中那位美女被列为古代“四大美女”？</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>貂蝉</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>小乔</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>甄姬</string>
				<key>right</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>question</key>
		<string>刘备的第三位夫人是？</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>甘夫人</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>孙夫人</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>糜夫人</string>
				<key>right</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>question</key>
		<string>三国猛将夏侯惇瞎了的眼睛去哪里了？</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>忘在家里了。</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>自己吃了</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>天生就没有</string>
				<key>right</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>question</key>
		<string>被誉为&quot;篮球飞人&quot;的是哪位运动员？</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>奥尼尔</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>乔丹</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>科比</string>
				<key>right</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>question</key>
		<string>篮球比赛中一次投篮最多可以得多少分？</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>2分</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>3分</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>4分</string>
				<key>right</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>question</key>
		<string>1990年十一届亚运会在哪里举办？</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>东京</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>曼谷</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>北京</string>
				<key>right</key>
				<true/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>question</key>
		<string>诗人李白是哪个朝代的？</string>
		<key>answer</key>
		<array>
			<dict>
				<key>content</key>
				<string>唐朝</string>
				<key>right</key>
				<true/>
			</dict>
			<dict>
				<key>content</key>
				<string>宋朝</string>
				<key>right</key>
				<false/>
			</dict>
			<dict>
				<key>content</key>
				<string>明朝</string>
				<key>right</key>
				<false/>
			</dict>
		</array>
	</dict>
</array>
</plist>
